

/* filter stuff */
.filterContainer{
  width: 80%;
  margin: auto;
}

/* car stuff */
.carContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
  margin: auto;
}

.carItem{
    width: max-content;
    margin: auto;
}

.carImg{
  width: 300px;
  height: 200px;
  object-fit: contain;
}